<ion-view title="Tab 2" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="tab2-list1">
      <ion-item id="tab2-list-item8" ui-sref="tabsController.tabEventList({ id: 'Department of Music' })">Department of Music</ion-item>
      <ion-item id="tab2-list-item8" ui-sref="tabsController.tabEventList({ id: 'Department of Art' })">Department of Art</ion-item>
      <ion-item id="tab2-list-item8" ui-sref="tabsController.tabEventList({ id: 'Department of Science' })">Department of Science</ion-item>
    </ion-list>
  </ion-content>
</ion-view>