<ion-view title="Tab Login" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="tabLogin-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Email</span>
          <input type="text" placeholder="" ng-model="data.username">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="data.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button3" class="button button-stable button-block" ng-click="login()">Log in</button>
    </form>
  </ion-content>
</ion-view>